@font-face {
    font-family: Nunito;
    src: url("/static/stylesheets/fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Avenir;
    src: url("/static/stylesheets/fonts/AvenirLTStd-Medium.otf") format("opentype");
}
.navbar-text {
    font-family: Avenir;
    color: #A7ACD9 !important;
}
.nav-link {
    font-family: Avenir;
    color: #93C6D6 !important;
}
.title, .image, .airtime {
    font-family: Avenir;
}
.title {
    height: 3em;
    overflow: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}
.image {
    text-align: center;
}
.airtime {
    color: #A7ACD9;
}
img {
    height: 100%;
    width: 75%;
}
.col {
    height: fit-content;
    margin-bottom: 5%;
}
.anime-content-wrapper {
    padding: 1%;
}
.anime-wrapper, .anime-content-wrapper {
    background: #F5F5F5;
    border-radius: 45px;
}
.season {
    font-family: Avenir;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0;
}
.form-title {
    text-align: center;
}
.form-control {
    margin-top: 2%;
    margin-bottom: 2%;
}
.content {
    margin: 5%;
}
.anime-content-wrapper:hover {
    background-color:grey;
    opacity:0.5;
    cursor: pointer;
}