.title, .image, .airtime {
    text-align: center;
}
.title {
    height: auto;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
}
.image {
    border: black 1px solid;
}
img {
    height: 100%;
    width: 75%;
}
.airtime {
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
}
.row {
    height: fit-content;
    margin-bottom: 5%;
}
.season {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
}
.form-title {
    text-align: center;
}
.form-control {
    margin-top: 3%;
    margin-bottom: 3%;
}